*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    color: rgb(0, 0, 0);
    background-color: rgb(233, 232, 232);
}
.navbar{
    background-color: white;
    padding-top: 30px;
}
.container-fluid{
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}
/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
.card{
    display: flex;
    justify-content: center;
    align-items: start;
}

.mb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnSave{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-label{
    display: flex;
    justify-content: center;
}





